@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import"header";
@import "footer";
@import "main1";
@import "responsive";


.container{
    max-width: 1440px;
    margin: 0 auto;

}